<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>

    <form method="POST" action="/login">
        <label>  Usuario: <input type="text" name="usuario" required></label><br><br>

        <label>  Contraseña: <input type="password" name="password" required></label><br><br>

        <button>Entrar</button>

    </form>

    <p><a href="/">Inicio</a></p>
    
</body>
</html>
